<div class="subject">
  <div class="col-md-11">
    <%= f.select :subject_id, @subjects.collect {|sub| [sub.name, sub.id] }, {},
      {class: "form-control"} %>
  </div>
  <div class="col-md-1 no-padding">
    <%= f.hidden_field :_destroy %>
    <%= link_to "", class: "remove_record" do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
</div>
