<div class="modal fade" id="task-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center subj-name" id=""></h3>
      </div>
      <div class="modal-body">
        <div class="row vcenter">
          <div class="col-md-3">
            <img src="" class="img avatar-size" id="subj-img">
          </div>
          <div class="col-md-3">
            <h4 class="text-info" id="subj-des"></h4>
          </div>
          <div class="col-md-6" id="subj-tasks">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
