<div class="container-fluid">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand text-danger" href="#"><%= @course.name %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline offset-4">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-12 mt-5">
        <div class="row">
            <h3 class="m-auto">List subjects</h3>
        </div>
        <div class="row">
            <% @course.subjects.each do |item| %>
                <div class="col-sm-4">
                    <div class="tile-progress tile-cyan">
                        <div class="tile-header">
                            <h3 class="text-center"><%= item.name %></h3>
                            <p class="description"><%= item.description %></p>
                        </div>
                        <div class="tile-progressbar">
                            <span data-fill="23.2%" style="width: 23.2%;"></span>
                        </div>
                        <div class="tile-footer">
                            <div class="row">
                                <h4>
                                    <span class="pct-counter"><%= item.tasks.count %></span> tasks
                                </h4>
                                <button type="button" class="btn btn-danger offset-7">Start</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
