.subject{
  margin-bottom: 15px;
  display: flex;
}
.course-subjects{
  margin-top: 12px;
}

.btn-add-subject{
  color: #0f6910;
}

.gender-col{
  font-size: 24px;
  text-align: center;
  .fa-male{
    color: #ff75b6;
  }
  .fa-female{
    color: #07c800;
  }
}
