<div class="row">
  <div class="col-md-10">
    <%= link_to course_user_path(course.id) do %>
      <p class="font-weight-bold"><%= course.name %></p>
      <% end %>
  </div>
  <div class="col-md-2">
    <% if course.start? %>
    <span class="badge badge-info">Studying</span>
    <% elsif course.init? %>
    <span class="badge badge-warning">Init</span>
    <% else %>
    <span class="badge badge-danger">Finish</span>
    <% end %>
  </div>
</div>
