@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
  margin-bottom: 0px;
}

.logo {
  witdh: 100px !important;
}

.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: lightblue;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* table */
table.verticalalign tbody tr td {
  vertical-align: middle;
}

/* avatar image */
.avatar-size {
  width: 100px;
  height: 100px;
}

.avatar-update-size {
  width: 100px;
  height: 100px;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* picture edit form */
.image-upload {
  position: relative;
  .image-edit {
    position: absolute;
    right: -42px;
    z-index: 1;
    top: 3px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          content: "\e145";
          font-family: "Material Icons";
          color: #757575;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .picture-preview {
    width: 124px;
    height: 124px;
    position: relative;
    border-radius: 100%;
    border: 3px solid #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.remove_record {
  color: #ad0808;
  position: absolute;
  top: 3px;

  &:hover {
    color: #780909;
  }
}

span.error_message {
  color: #a94442;
}
body{
  margin-top: auto;
  background-color: #f1f1f1;
}
.border{
  border-bottom:1px solid #F1F1F1;
  margin-bottom:10px;
}
.main-secction{
  box-shadow: 10px 10px 10px;
}
.image-section{
  padding: 0px;
}
.image-section img{
  width: 100%;
  height:250px;
  position: relative;
}
.user-image{
  position: absolute;
  margin-top:-140px;
}
.user-left-part{
  margin: 0px;
}
.user-image img{
  width:200px;
  height:200px;
}
.user-profil-part{
  padding-bottom:30px;
  background-color:#FAFAFA;
}
.follow{
  margin-top:70px;
}
.user-detail-row{
  margin:0px;
}
.user-detail-section2 p{
  font-size:15px;
  padding: 0px;
  margin: 0px;
}
.user-detail-section2{
  margin-top:10px;
}
.user-detail-section2 small{
  font-size:12px;
  color:#D3A86A;
}
.profile-right-section{
  padding: 20px 0px 10px 15px;
  background-color: #FFFFFF;
}
.profile-right-section-row{
  margin: 0px;
}
.profile-header-section1 h1{
  font-size: 25px;
  margin: 0px;
}
.profile-header-section1 h5{
  color: #0062cc;
}
.req-btn{
  height:30px;
  font-size:12px;
}
.profile-tag{
  padding: 10px;
  border:1px solid #F6F6F6;
}
.profile-tag p{
  font-size: 12px;
  color:black;
}
.profile-tag i{
  color:#ADADAD;
  font-size: 20px;
}
.image-right-part{
  background-color: #FCFCFC;
  margin: 0px;
  padding: 5px;
}
.img-main-rightPart{
  background-color: #FCFCFC;
  margin-top: auto;
}
.image-right-detail{
  padding: 0px;
}
.image-right-detail p{
  font-size: 12px;
}
.image-right-detail a:hover{
  text-decoration: none;
}
.image-right img{
  width: 100%;
}
.image-right-detail-section2{
  margin: 0px;
}
.image-right-detail-section2 p{
  color:#38ACDF;
  margin:0px;
}
.image-right-detail-section2 span{
  color:#7F7F7F;
}

.nav-link{
  font-size: 1.2em;
}
.picture_size{
  width: 125px;
  height: 125px;
}
