@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

/* mixins, variables, etc. */
$white: #fff;
$white_body: #fafafa;
$gray: #999;
$blue_sidebar: #7386D5;
$blue_headerbar: #6d7fcc;
$boder_sidebar: #47748b;
$bg_icon_box: #f15e5e;
$gray_modal_confirm: #636363;
$bg_button_infor: #c1c1c1;
$bg_button_model_confirm: #60c7c1;
$bg_button_infor_focus: #a8a8a8;
$bg_button_danger_focus: #ee3535;

@mixin font_default {
  font-family: 'Poppins', sans-serif;
}


body {
  @include font_default;
  background: $white_body;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: $gray;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: $white;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: $blue_sidebar;
  color: $white;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: $blue_headerbar;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid $boder_sidebar;
}

#sidebar ul p {
  color: $white;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: $blue_sidebar;
  background: $white;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: $white;
  background: $blue_headerbar;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: $blue_headerbar;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: $white;
  color: $blue_sidebar;
}

a.article,
a.article:hover {
  background: $blue_headerbar !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

.modal-confirm {
  color: $gray_modal_confirm;
  width: 400px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: $gray;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
  color: $gray;
}

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid $bg_icon_box;
}

.modal-confirm .icon-box i {
  color: $bg_icon_box;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

.modal-confirm .btn {
  color: $white;
  border-radius: 4px;
  background: $bg_button_model_confirm;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}

.modal-confirm .btn-info {
  background: $bg_button_infor;
}

.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
  background: $bg_button_danger_focus;
}

.modal-confirm .btn-danger {
  background: $bg_icon_box;
}

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: $bg_button_danger_focus;
}

.trigger-btn {
  display: inline-block;
}
